@import "SASS/modules.scss";

$color_1: inherit;
$color_2: #FFFFFF;
$color_3: rgb(230, 218, 218);
$font-family_1: poppins;
$background-color_1: #E5E5E5;
$background-color_2: #FFFFFF;


* {
box-sizing: border-box;
}
body {
font-family: $font-family_1;
}
ul {
list-style: none;
}
nav {
list-style: none;
}
a {
text-decoration: none;
cursor: pointer;
color: $color_1;
}
header {
position: absolute;
top: 0;
left: 0;
z-index: 10;
width: 100%;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: space-between;
align-items: center;
color: $color_2;
padding: 35px 100px 0;
h2 {
text-transform: uppercase;
}
nav {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
li {
margin: 0 15px;
&:first-child {
margin-left: 0;
}
&:last-child {
margin-right: 0;
}
}
}
}
section {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: center;
padding: 110px 100px;
max-width: 800px;
text-align: center;
margin-bottom: 35px;
padding: 0 20px;
line-height: 2;
}
.banner-area {
position: relative;
justify-content: center;
min-height: 100vh;
color: $color_3;
text-align: center;
.banner-img {
background-image: url("../images/background-image.jpg");
background-color: $background-color_1;
position: absolute;
top: 0;
left: 0;
width: 1500px;
height: 800px;
-webkit-background-size: cover;
background-size: cover;
z-index: 5;
img {
transition: all 3s;
margin-top: 20%;
}
}
.child {
background-image: url("../images/Group 24.png");
height: 50%;
width: 50%;
transition: transform 1s ease-in;
background-color: $background-color_2;
}
&:hover {
    .child {
animation-play-state: paused;
}
  }
}
@media (max-width:1000px) {
header {
padding: 20px 50px;
  }
section {
padding: 100px 50px;
  }
}
@media (max-width:700px) {
header {
flex-direction: column;
h2 {
margin-bottom: 15px;
}
nav {
li {
margin: 0 7px;
  }
 }
}
}
@media (max-width:600px) {
section {
padding: 125px 30px;
  }
}
